<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="div">
      <h1><%- status %></h1>
    </div>
    <div>
      <a href="/login/general_login/logout">일반 로그인 로그아웃</a>
      <a href="/login/naver/logout">네이버 로그아웃</a>
      <a href="/login/kakao/logout">카카오 로그아웃</a>
      <a href="/login/google/logout">구글 로그아웃</a>
    </div>
  </body>
</html>
